<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>ESAPI Standard Usings Block</Title>
      <Shortcut>esapi-usings</Shortcut>
      <Description>Bloque de usings típico para scripts ESAPI (API, Types, System.Linq).</Description>
      <Author>David Padron - Nexus MedPhysics</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="CSharp"><![CDATA[using System;
using System.Collections.Generic;
using System.Linq;
using System.Windows;
using VMS.TPS.Common.Model.API;
using VMS.TPS.Common.Model.Types;
$end$
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
