<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Access MLC Leaf Positions</Title>
      <Shortcut>beam-mlc-access</Shortcut>
      <Description>Accede a las posiciones de las laminas MLC por control point.</Description>
      <Author>David Padron - Nexus MedPhysics</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>beamVar</ID>
          <ToolTip>Variable del beam</ToolTip>
          <Default>beam</Default>
        </Literal>
        <Literal>
          <ID>cpVar</ID>
          <ToolTip>Variable de control point</ToolTip>
          <Default>cp</Default>
        </Literal>
        <Literal>
          <ID>mlcPositions</ID>
          <ToolTip>Variable del arreglo de posiciones MLC</ToolTip>
          <Default>leafPositions</Default>
        </Literal>
      </Declarations>
      <Code Language="CSharp"><![CDATA[foreach (ControlPoint $cpVar$ in $beamVar$.ControlPoints)
{
    float[,] $mlcPositions$ = $cpVar$.LeafPositions;
    // $mlcPositions$[0, i] = banco A, lamina i (mm)
    // $mlcPositions$[1, i] = banco B, lamina i (mm)

    $end$
}
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
