<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Try/Catch Modification Block</Title>
      <Shortcut>tx-try-modify</Shortcut>
      <Description>Bloque try/catch envolviendo modificaciones al plan, con rollback implicito si falla.</Description>
      <Author>David Padron - Nexus MedPhysics</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="CSharp"><![CDATA[// Requiere [assembly: ESAPIScript(IsWriteable = true)] en Eclipse v16+.
context.Patient.BeginModifications();

try
{
    $end$
}
catch (Exception ex)
{
    // OJO: ESAPI NO hace rollback. Los cambios ya aplicados siguen vivos en el
    // objeto en memoria; lo unico que evita este catch es que se persistan al
    // guardar. Si la operacion es parcialmente destructiva, deshaz a mano lo
    // que hayas alcanzado a modificar antes de la excepcion.
    MessageBox.Show(string.Format("Error durante la modificacion: {0}", ex.Message));
}
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
