<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Read Voxel Values and Convert to HU</Title>
      <Shortcut>image-hu-conversion</Shortcut>
      <Description>Lee un corte axial de la imagen y convierte los vóxeles crudos a HU con VoxelToDisplayValue (útil para QA de curva CT).</Description>
      <Author>David Padron - Nexus MedPhysics</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>imageVar</ID>
          <ToolTip>Variable de la imagen</ToolTip>
          <Default>ctImage</Default>
        </Literal>
        <Literal>
          <ID>voxelBuffer</ID>
          <ToolTip>Buffer de vóxeles</ToolTip>
          <Default>voxels</Default>
        </Literal>
        <Literal>
          <ID>sliceIndex</ID>
          <ToolTip>Índice del corte axial</ToolTip>
          <Default>50</Default>
        </Literal>
      </Declarations>
      <Code Language="CSharp"><![CDATA[// GetVoxels llena un plano axial completo: el buffer es 2D [XSize, YSize], no 3D.
int[,] $voxelBuffer$ = new int[$imageVar$.XSize, $imageVar$.YSize];
$imageVar$.GetVoxels($sliceIndex$, $voxelBuffer$);

// Los valores crudos son específicos del almacenamiento interno de Eclipse.
// VoxelToDisplayValue los convierte a la escala mostrada (HU en imágenes CT).
double huValue = $imageVar$.VoxelToDisplayValue($voxelBuffer$[$imageVar$.XSize / 2, $imageVar$.YSize / 2]);

$end$
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
