<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Calculate Conformity Index (CI)</Title>
      <Shortcut>dose-conformity-index</Shortcut>
      <Description>Calcula el indice de conformidad RTOG: CI = Vol_isodosis_prescrita / Vol_PTV.</Description>
      <Author>David Padron - Nexus MedPhysics</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>ciVar</ID>
          <ToolTip>Variable del indice de conformidad</ToolTip>
          <Default>conformityIndex</Default>
        </Literal>
        <Literal>
          <ID>structVar</ID>
          <ToolTip>Estructura PTV</ToolTip>
          <Default>ptv</Default>
        </Literal>
        <Literal>
          <ID>prescriptionIsoVolume</ID>
          <ToolTip>Volumen cubierto por isodosis de prescripcion (cm3)</ToolTip>
          <Default>prescriptionIsoVolume</Default>
        </Literal>
      </Declarations>
      <Code Language="CSharp"><![CDATA[// CI = Volumen cubierto por la isodosis de prescripcion / Volumen del PTV
double $ciVar$ = $prescriptionIsoVolume$ / $structVar$.Volume;

$end$

// Nota: prescriptionIsoVolume debe obtenerse iterando el DoseProfile o
// usando GetStructureDVHEstimate segun disponibilidad de la version ESAPI.
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
